{
  "openapi": "3.1.0",
  "info": {
    "title": "XWANAI Backend API",
    "version": "2.0.0",
    "description": "AI-powered Chinese Astrology (BaZi) Analysis Platform Backend API",
    "contact": {
      "name": "XWANAI Team"
    }
  },
  "servers": [
    {
      "url": "https://divination.uubb.top",
      "description": "Production Server"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local Development Server"
    }
  ],
  "tags": [
    {
      "name": "用户模块",
      "description": "User management and profile operations"
    },
    {
      "name": "命理模块",
      "description": "Four Pillars (BaZi) astrology calculations"
    },
    {
      "name": "聊天模块",
      "description": "AI chat and conversation management"
    },
    {
      "name": "分享模块",
      "description": "Share session and results"
    },
    {
      "name": "人物模块",
      "description": "Character creation and management"
    },
    {
      "name": "角色报告",
      "description": "Character report generation"
    },
    {
      "name": "角色对话",
      "description": "Character chat sessions"
    },
    {
      "name": "命运时间线",
      "description": "Destiny timeline (Dayun, Liunian, etc.)"
    },
    {
      "name": "Stripe支付模块",
      "description": "Stripe payment integration"
    },
    {
      "name": "任务系统",
      "description": "User task and achievement system"
    },
    {
      "name": "邀请系统",
      "description": "User invitation and referral system"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Root Health Check",
        "responses": {
          "200": {
            "description": "Service is running"
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health Check",
        "responses": {
          "200": {
            "description": "Service health status"
          }
        }
      }
    },
    "/api/users/v1/avatar": {
      "post": {
        "tags": ["用户模块"],
        "summary": "Upload User Avatar",
        "description": "Upload avatar to Supabase Storage",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns file_id (string)"
          }
        }
      }
    },
    "/api/users/v1/profile": {
      "put": {
        "tags": ["用户模块"],
        "summary": "Update User Profile",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {
            "description": "Profile updated successfully"
          }
        }
      }
    },
    "/api/fourPillars/v1": {
      "post": {
        "tags": ["命理模块"],
        "summary": "Create Personal Four Pillars",
        "description": "Generate BaZi analysis for user's personal reading",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {
            "description": "Returns four_pillars_id (integer)"
          }
        }
      }
    },
    "/api/fourPillars/v1/none_auth": {
      "post": {
        "tags": ["命理模块"],
        "summary": "Create Four Pillars (No Auth)",
        "description": "Generate BaZi analysis without authentication",
        "responses": {
          "200": {
            "description": "Returns four_pillars data"
          }
        }
      }
    },
    "/api/fourPillars/v1/{fp_id}": {
      "get": {
        "tags": ["命理模块"],
        "summary": "Get Four Pillars Detail",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "fp_id",
            "in": "path",
            "required": true,
            "schema": {"type": "integer"}
          }
        ],
        "responses": {
          "200": {
            "description": "Four Pillars detail with insights"
          }
        }
      }
    },
    "/api/chat/v1": {
      "post": {
        "tags": ["聊天模块"],
        "summary": "Send Chat Message",
        "description": "Send message and receive SSE streaming response",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {"type": "string"},
                  "session_id": {"type": "string", "nullable": true},
                  "mode": {"type": "string"},
                  "stream": {"type": "boolean"}
                },
                "required": ["message", "mode"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSE stream of chat responses"
          }
        }
      }
    },
    "/api/chat/v1/session/{session_id}/turn-stats": {
      "get": {
        "tags": ["聊天模块"],
        "summary": "Get Session Turn Statistics",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Session turn count and limits"
          }
        }
      }
    },
    "/api/chat/v1/share": {
      "post": {
        "tags": ["分享模块"],
        "summary": "Create Share Link",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {
            "description": "Returns share token"
          }
        }
      }
    },
    "/api/chat/v1/share/none_auth": {
      "get": {
        "tags": ["分享模块"],
        "summary": "Get Shared Content",
        "description": "Access shared session via token (no auth required)",
        "responses": {
          "200": {
            "description": "Shared session data"
          }
        }
      }
    },
    "/api/character/v1": {
      "post": {
        "tags": ["人物模块"],
        "summary": "Create Character",
        "description": "Create a new character (checks quota)",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {
            "description": "Returns character data"
          }
        }
      },
      "put": {
        "tags": ["人物模块"],
        "summary": "Update Character",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {
            "description": "Character updated successfully"
          }
        }
      },
      "delete": {
        "tags": ["人物模块"],
        "summary": "Delete Character",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {
            "description": "Character deleted successfully"
          }
        }
      }
    },
    "/api/character/v1/generate-reports/{character_id}": {
      "post": {
        "tags": ["角色报告"],
        "summary": "Generate Character Reports",
        "description": "Generate AI analysis reports for character",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "character_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Reports generation started"
          }
        }
      }
    },
    "/api/character-chat/create-chat-session": {
      "post": {
        "tags": ["角色对话"],
        "summary": "Create Character Chat Session",
        "description": "Create chat session for completed character (quota: Free 3/week, Premium 10/week)",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "character_id": {"type": "string"},
                  "from_task": {"type": "boolean"}
                },
                "required": ["character_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns session_id and mode"
          }
        }
      }
    },
    "/api/character-chat/create-hepan-session": {
      "post": {
        "tags": ["角色对话"],
        "summary": "Create Hepan (Synastry) Session",
        "description": "Create dual character analysis session (quota: Free 3/week, Premium unlimited)",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "character_ids": {
                    "type": "array",
                    "items": {"type": "string"},
                    "minItems": 2,
                    "maxItems": 2
                  },
                  "from_task": {"type": "boolean"}
                },
                "required": ["character_ids"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns session_id and mode"
          }
        }
      }
    },
    "/api/bazi/v1/destiny/dayun": {
      "post": {
        "tags": ["命运时间线"],
        "summary": "Get Dayun (Major Luck Periods)",
        "description": "Calculate major 10-year luck periods",
        "responses": {
          "200": {
            "description": "List of Dayun periods"
          }
        }
      }
    },
    "/api/bazi/v1/destiny/liunian": {
      "post": {
        "tags": ["命运时间线"],
        "summary": "Get Liunian (Yearly Fortune)",
        "description": "Calculate yearly fortune for specific Dayun period",
        "responses": {
          "200": {
            "description": "List of Liunian years"
          }
        }
      }
    },
    "/api/stripe/v1/checkout": {
      "post": {
        "tags": ["Stripe支付模块"],
        "summary": "Create Checkout Session",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {
            "description": "Returns Stripe checkout URL"
          }
        }
      }
    },
    "/api/stripe/v1/webhook": {
      "post": {
        "tags": ["Stripe支付模块"],
        "summary": "Stripe Webhook",
        "description": "Handle Stripe payment events",
        "responses": {
          "200": {
            "description": "Webhook processed"
          }
        }
      }
    },
    "/api/tasks/v1/status": {
      "get": {
        "tags": ["任务系统"],
        "summary": "Get User Task Status",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {
            "description": "User's task completion status"
          }
        }
      }
    },
    "/api/tasks/v1/claim-reward": {
      "post": {
        "tags": ["任务系统"],
        "summary": "Claim Task Reward",
        "description": "Claim 7-day premium membership reward",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {
            "description": "Reward claimed successfully"
          }
        }
      }
    },
    "/api/invitation/v1/stats": {
      "get": {
        "tags": ["邀请系统"],
        "summary": "Get Invitation Statistics",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {
            "description": "Invitation code, invitees, and rewards"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Supabase JWT token from auth.users"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      }
    }
  },
  "x-notes": {
    "update_instructions": "To get the complete, auto-generated OpenAPI spec, start the backend server and visit: http://localhost:8000/openapi.json",
    "last_updated": "2025-11-10",
    "version_note": "This is a simplified reference. For complete schemas, use FastAPI's auto-generated documentation at /docs"
  }
}
